node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{0FD469E5-9ADB-4732-87AE-FBB1BED853D5}.2.ver0x0000000000000001.db
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{6AF0698E-D558-4F6E-9B3C-3716689AF493}.2.ver0x0000000000000001.db
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{DDF571F2-BE98-426D-8288-1A9A39C3FDA2}.2.ver0x0000000000000001.db
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/cversions.2.db
